a {
	text-decoration: none;
}

li {
	list-style: none;
}

ul {
	padding: 0;
	margin: 0;
}

.wrapper {
	position: relative;
	font-family: 'Montserrat', sans-serif;
  	font-size: 14px;
  	line-height: 21px;
	background-color: #39c8b7;
}

.main-head {
	background-color: #fff;
}

.expand {
    max-height: 20em;
}

.header-top {
	position: relative;
	display: flex;
	justify-content: space-between;
	min-height: 82px;
	padding: 23px 21px 23px;
}

.header-top>a {
	width: 110px;
}

.header-top form {
	height: 33px;
	margin-top: auto;
}

.input-group {
	position: relative;
	display: table;
	border: 1px solid #cacaca;
}

.input-group input {
    width: 404px;
    height: 31px;
    border: none;
}

.btn-search {
    width: 31px;
    height: 31px;
    position: absolute;
    right: 0px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.bascket-group {
	display: flex;
	height: 36px;
}

.bascket-group a:hover {
	text-decoration: none;
}

.bascket-group p {
	color: #a1a1a1;
	font-size: 33px;
	font-weight: 500;
	margin: auto;
	padding-left: 15px;
}

.header-bottom {
	background-color: #4ccfc1;
}

.main-menu>.main-menu-list {
	display: flex;
	justify-content: space-between;
	padding: 10px 15px;
}

.main-menu>.main-menu-list li a {
	color: #fff;
	font-size: 21px;
	border-right: 2px solid #fff;
    padding-right: 10px;
}

.show-menu {
	display: none;
	width: 60px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	border-radius: 3px;
	border: 2px solid #3cc5b1;
	background-color: #3cc395;
}

.modal-show {
	display: block;
}

.b-slider {
	height: 446px;
}

.b-slider .container .swiper-wrapper {
	height: 446px;
}

.swiper1 .swiper-wrapper .slide-1,
.swiper1 .swiper-wrapper .slide-2,
.swiper1 .swiper-wrapper .slide-3,
.swiper1 .swiper-wrapper .slide-4,
.swiper1 .swiper-wrapper .slide-5 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.s-image {
	padding-right: 100px;
}

.s-image img {
	width: 278px;
	height: 325px;
}

.s-description {
	width: 410px;
	color: #fff;
	text-align: left;
}

.s-description h1 {
	display: block;
	text-transform: uppercase;
	font-size: 43px;
	line-height: 50px;
}

.s-description span {
	display: block;
	font-size: 18px;
	line-height: 30px;
}

.s-description a {
	display: inline-block;
    margin-top: 10px;
    padding: 7px;
    font-size: 24px;
    font-weight: bold;
    border: 3px solid #fff;
    border-radius: 5px;
    color: #fff
}

.b-slider .container .swiper-pagination {
	bottom: 20px;
}

.swiper-pagination-bullet {
	width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
    opacity: 1;
}

.b-slider .container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #fff;
    opacity: 0.5;
}

.l-slider {
	position: relative;
	min-height: 190px;
	background-color: #fff;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}

.l-slider .container .swiper-wrapper {
	height: 190px;
}

.swiper2 .swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #cacaca;
}

.slide-1 .ls-image {
	background: url("../img/boots.png") no-repeat 0 0;
	width: 217px;
	height: 151px;
}

.slide-2 .ls-image {
	background: url("../img/shirt.png") no-repeat 0 0;
	width: 217px;
	height: 151px;
}

.slide-3 .ls-image {
	background: url("../img/shorts.png") no-repeat 0 0;
	width: 170px;
	height: 151px;
}

.ls-description span {
	display: block;
	color: #afafaf;
	font-size: 20px;
	font-weight: bold;
}

.ls-description a {
	display: inline-block;
	margin-top: 8px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	background-color: #3cc395;
	padding: 5px;
	border-radius: 3px;
}

.slide-button-next,
.slide-button-prev {
	position: absolute;
	top: 75px;
	width: 0;
	height: 0;
	z-index: 10;
}

.banner {
	height: 67px;
}

.banner-h {
	line-height: 65px;
	font-size: 28px;
	color: #fff;
}

.main {
	padding-top: 45px;
	background-color: #fff;
}

.news {
	margin-bottom: 20px;
}

.news,
.manufacturers {
	border: 2px solid #3cc395;
	border-radius: 5px;
}

.news div,
.manufacturers div {
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.news span,
.manufacturers span {
    color: #afafaf;
    font-size: 24px;
    font-weight: bold;
}

.news a,
.manufacturers a {
    color: #3cc395;
    font-size: 20px;
}

.items {
	padding-left: 60px;
}

.s-main>span {
	display: block;
	padding-left: 60px;
	margin-bottom: 40px;
	color: #afafaf;
	font-size: 35px;
	font-weight: 500;
}

.item-wrap {
	margin-bottom: 45px;
}

.item {
	width: 290px;
	border: 1px solid #cacaca;
	border-bottom: 5px solid #3cc395;
	box-shadow: 0 0 5px rgba(0,0,0,0.5); 
	font-weight: 500;
}

.item .image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 132px;
}

.i-description>span {
	padding: 0 57px;
	text-transform: uppercase;
	color: #afafaf;
	font-size: 20px;
}

.price {
	display: flex;
	justify-content: space-between;
	
	margin: 10px 57px;
}

.price>span {
	display: flex;
    align-items: center;
	text-transform: uppercase;
	color: #afafaf;
	font-size: 20px;
}

.price>a {
	display: inline-block;
	margin-top: 8px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	background-color: #3cc395;
	padding: 5px;
	border-radius: 3px;
}